@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.typed-cursor, .message {
  font-size: 2em;
  line-height: 1.2em;
  color: #D12026;
  display: inline-block; }

.message-container {
  min-width: calc(100% - 20%);
  display: inline-block; }

.explanation {
  font-size: 2em;
  margin-top: 10px;
  position: fixed;
  top: 65%;
  right: 50%; }
  .explanation a {
    color: rgba(255, 255, 255, 0.2); }
    .explanation a:hover, .explanation a:active {
      color: rgba(255, 255, 255, 0.8); }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  /* give this to all tags from html to .fullscreen */
  background: url("../images/MrNodeBot.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Fira Sans', sans-serif; }

body, h1, h2, h3, h4, p {
  font-family: 'Fira Sans', sans-serif;
  color: white; }

a:hover {
  text-decoration: none;
  color: #D32027; }

hr {
  color: #D12026; }

a, .uk-link {
  color: #3d96dd; }

.full-height {
  height: calc(100% - 45px); }

.main-nav {
  height: calc(45px - 4px);
  background: rgba(0, 0, 0, 0.4);
  border-top: 2px solid #D12026;
  border-bottom: 2px solid #D12026; }
  .main-nav .uk-navbar-nav > li > a {
    font-size: 18px !important; }
  .main-nav .uk-navbar-brand, .main-nav .uk-link, .main-nav a, .main-nav .uk-navbar-nav > li > a {
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear; }
    .main-nav .uk-navbar-brand:hover, .main-nav .uk-link:hover, .main-nav a:hover, .main-nav .uk-navbar-nav > li > a:hover {
      color: #D32027; }
  .main-nav .uk-navbar-nav > li.uk-open > a, .main-nav .uk-navbar-nav > li:hover > a, .main-nav .uk-navbar-nav > li > a:focus {
    background: none; }
  .main-nav .uk-nav-navbar > li > a {
    color: black; }
    .main-nav .uk-nav-navbar > li > a:hover {
      background: black;
      color: white; }
  .main-nav .right-nav .uk-dropdown, .main-nav .right-nav .uk-dropdown-blank {
    width: 100px; }
  .main-nav .right-nav .uk-dropdown-navbar {
    margin-top: 4px;
    background: rgba(255, 255, 255, 0.5); }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.h_iframe {
  position: relative;
  height: 100%; }

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: 100%; }

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.login {
  color: white;
  min-width: 320px;
  background: rgba(0, 0, 0, 0.5); }
  .login .uk-panel-header, .login .uk-panel-title {
    color: white;
    font-size: 2em;
    border-bottom: 2px solid #D12026; }
  .login .uk-form-danger {
    background: none !important;
    color: #D12026 !important; }
  .login .uk-form input:not([type]), .login .uk-form input[type=text], .login .uk-form input[type=password], .login .uk-form input[type=email], .login .uk-form input[type=url], .login .uk-form input[type=search], .login .uk-form input[type=tel], .login .uk-form input[type=number], .login .uk-form input[type=datetime], .login .uk-form input[type=datetime-local], .login .uk-form input[type=date], .login .uk-form input[type=month], .login .uk-form input[type=time], .login .uk-form input[type=week], .login .uk-form input[type=color], .login .uk-form select, .login .uk-form textarea {
    border-radius: 5px;
    text-align: center; }

.uk-button {
  border-radius: 5px; }

.uk-button-success {
  background: none;
  color: #fff;
  border: 1px solid green; }
  .uk-button-success:hover, .uk-button-success:focus {
    background: rgba(0, 128, 0, 0.5); }

.uk-button-primary {
  background: none;
  color: #fff;
  border: 1px solid #4f55ff; }
  .uk-button-primary:hover, .uk-button-primary:focus {
    background: rgba(79, 85, 255, 0.5); }

.uk-button-danger {
  background: none;
  color: #fff;
  border: 1px solid #D12026; }
  .uk-button-danger:hover, .uk-button-danger:focus {
    background: rgba(211, 32, 39, 0.5); }

.episode-item {
  cursor: pointer; }

.episodes {
  margin: 0 5px 0;
  padding-top: 10px; }
  .episodes img {
    border-bottom: 2px solid #D12026; }
  .episodes .season-button {
    max-width: 252px; }
  .episodes figcaption .text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 2px;
    width: 100%;
    display: inline-block; }
  .episodes figcaption:hover {
    color: #D32027;
    background-color: rgba(0, 0, 0, 0.6); }
    .episodes figcaption:hover .text {
      background: rgba(0, 0, 0, 0.9); }

.right-margin-5 {
  margin-right: 5px; }

.left-margin-5 {
  margin-left: 5px; }

.show-episode h1 {
  background-color: rgba(0, 0, 0, 0.5); }

.show-episode .uk-description-list-horizontal {
  border-top: 2px solid #D12026;
  border-bottom: 2px solid #D12026;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5); }
  .show-episode .uk-description-list-horizontal dt {
    font-weight: bolder;
    color: #D12026; }

.uk-modal .uk-modal-dialog {
  background: black;
  box-shadow: -2px 0px 200px -4px rgba(209, 32, 38, 0.5);
  border-radius: 8px;
  width: 640px; }
  .uk-modal .uk-modal-dialog .uk-modal-header {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-weight: lighter;
    letter-spacing: 1.25px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 1.55em; }
  .uk-modal .uk-modal-dialog .uk-modal-footer {
    background: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
    .uk-modal .uk-modal-dialog .uk-modal-footer a {
      width: 100%;
      display: inline-block;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      font-style: italic; }
  .uk-modal .uk-modal-dialog p {
    text-align: center;
    padding: 5px; }

/*# sourceMappingURL=app.css.map */
