// Fonts
@import 'https://fonts.googleapis.com/css?family=Fira+Sans';

// Vars
$navHeight: 45px;
$mrRobotPrimaryColor: #D12026;
$mrRobotHoverColor: #D32027;

// Typed Cursor
.typed-cursor, .message {
  font-size: 2em;
  line-height:1.2em;
  color:$mrRobotPrimaryColor;
  display:inline-block;
}

.message-container {
  min-width: calc(100% - 20%);
  display: inline-block;

}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

// General
html {
  /* give this to all tags from html to .fullscreen */
  background: url('../images/MrNodeBot.png')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', sans-serif;

}
body {
  background-color: rgba(0,0,0,0.8);
  font-family: 'Fira Sans', sans-serif;
}

hr {
  color:$mrRobotPrimaryColor;
}

// Positioning
.full-height {
  height: calc(100% - #{$navHeight});
}

// Nav
.main-nav {
  height:calc(#{$navHeight} - 4px);
  background:rgba(0,0,0,0.4);
  border-top: 2px solid $mrRobotPrimaryColor;
  border-bottom: 2px solid $mrRobotPrimaryColor;
  .uk-navbar-nav>li>a {
    font-size: 18px !important;
  }
  .uk-navbar-brand, .uk-link, a, .uk-navbar-nav>li>a {
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    &:hover {
      color:$mrRobotHoverColor;
    }
  }
  .uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus{
    background:none;
  }
  .uk-dropdown-navbar {
    margin-top:4px;
    background: rgba(255, 255, 255, 0.5);
  }
  .uk-nav-navbar>li>a {
    color: black;
    &:hover {
      background:black;
      color:white;
    }
  }
  .uk-dropdown, .uk-dropdown-blank {
    width:124px;
  }
}

// Chat Iframe
.wrapper         {width:100%; margin:0 auto;background:#CCC}
.h_iframe        {position:relative; height:100%;}
.h_iframe .ratio {display:block;width:100%;height: 100%;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height: 100%}

// Login page
.login {
  .uk-panel-header, .uk-panel-title {
    color:white;
    font-size: 2em;
    border-bottom: 2px solid $mrRobotPrimaryColor;
  }
  .uk-form-danger {
    background: none !important;
    color: $mrRobotPrimaryColor !important;
  }
  .uk-form input:not([type]), .uk-form input[type=text], .uk-form input[type=password], .uk-form input[type=email], .uk-form input[type=url], .uk-form input[type=search], .uk-form input[type=tel], .uk-form input[type=number], .uk-form input[type=datetime], .uk-form input[type=datetime-local], .uk-form input[type=date], .uk-form input[type=month], .uk-form input[type=time], .uk-form input[type=week], .uk-form input[type=color], .uk-form select, .uk-form textarea {
    border-radius:5px;
    text-align: center;
  }
  color:white;
  min-width:320px;
  background:rgba(0,0,0,0.5);
}

// Buttons
.uk-button {
  border-radius: 5px;
}
.uk-button-success {
  background: none;
  color: #fff;
  border:1px solid green;
  &:hover, &:focus {
    background: rgba(0, 128, 0,0.5);
  }
}
.uk-button-primary {
  background: none;
  color: #fff;
  border:1px solid rgb(79, 85, 255);
  &:hover, &:focus {
    background: rgba(79, 85, 255,0.5);
  }
}