// Fonts
@import 'partials/variables';
@import '../../../node_modules/hover.css/scss/hover';
@import 'partials/fullscreenvideo';
@import 'partials/fsociety';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/navigation';
@import 'partials/auth';
@import 'partials/home';
@import 'partials/episodes';
@import 'partials/arg';
.url {
  color: #62bd18;
}
.to {
  color: #ffbb00;
}
.from {
  color: #fc3d31;
}
.timeStamp {
  color :#8042B5;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

