// Fonts
@import 'partials/variables';
@import '../../../node_modules/hover.css/scss/hover';
@import '../../../node_modules/slick-carousel/slick/slick.scss';
@import 'partials/fullscreenvideo';
@import 'partials/fsociety';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/navigation';
@import 'partials/auth';
@import 'partials/home';
@import 'partials/episodes';
@import 'partials/arg';
@import 'partials/slickTheme';
.url {
  color: #62bd18;
}
.to {
  color: #ffbb00;
}
.from {
  color: #fc3d31;
}
.timeStamp {
  color :#8042B5;
}
