.arg-layout {
  header {
    background-image: url('../images/arg/banner.png');
  }
  hr {
    border-color: $mrRobotPrimaryColor;
  }
  .uk-description-list-horizontal {
    padding:4px 10px;
    background: rgba(0, 0, 0,0.8);
    box-shadow: $boxShadow;
    border-radius: 4px;
    dt {
      color: darken($mrRobotPrimaryColor,10);
    }
  }
  .hvr-underline-from-center:before {
    background: $mrRobotPrimaryColor;
  }
  .arg-nav {
    background-color:rgba(0,0,0,0.7);
    color:white;
    .uk-subnav {
      margin-top:0;
      font-size:1.5em;
    }
    .uk-subnav-pill {
      &>*>* {
        padding: 4px 23px;
        border-radius:4px !important;
        border: 1px solid rgba(255,255,255,0.5);
      }
      &>.uk-active>* {
        background: rgba(13, 13, 97, 0.6);
        color: white;
        &:hover, &:focus {
          background: rgba(13, 13, 97, 1);
          color:darken(white, 30);
        }
      }
      &>*>:focus, &>*>:hover {
        background: rgba(54, 168, 21, 0.69);
        color: black;
        text-decoration: none;
        outline: 0;
      }

    }
  }
}

// ARG Create Page
.arg-create-container {
  .uk-panel {
    @extend .fs-panel;
  }
  textarea {
    padding:5px;
  }
}
