.episode-header {
  box-shadow: $boxShadow
}
.episodes {
  margin: 0 5px 0;
  padding-top:10px;
  img {
    border-bottom: 2px solid $mrRobotPrimaryColor;
  }
  .season-button {
    max-width:252px;
  }
  figcaption {
    .text {
      padding:2px;
      width:100%;
      display:inline-block;
    }
    &:hover {
      color: $mrRobotHoverColor;
    }
  }
  // Episode Gallery
  .episode-item {
    cursor:pointer;
  }
  .uk-overlay-top{
    background:rgba(0,0,0,0.5);
  }
  .uk-overlay-bottom {
    a {
      text-decoration: none;
    }
  }
}


/// Show episode
.show-episode {
  h1 {
    background-color:rgba(0,0,0,0.5);
  }
  .episode-info {
    background-image: url('/images/arg/banner.png');
    box-shadow: $boxShadow
  }
  .uk-description-list-horizontal {
    border-top: 1px solid $mrRobotPrimaryColor;
    border-bottom: 1px solid $mrRobotPrimaryColor;
    padding:5px;
    dt{
      font-weight: bolder;
      color:$mrRobotPrimaryColor;
    }
  }
}