.episode-header {
  box-shadow: $boxShadow
}
.episodes {
  margin: 0 5px 0;
  padding-top:10px;
  img {
    border-bottom: 2px solid $mrRobotPrimaryColor;
  }
  .season-button {
    max-width:252px;
  }
  figcaption {
    .text {
      padding:2px;
      width:100%;
      display:inline-block;
    }
    &:hover {
      color: $mrRobotHoverColor;
    }
  }
  // Episode Gallery
  .episode-item {
    cursor:pointer;
  }
  .uk-overlay-top{
    background:rgba(0,0,0,0.8);
  }
  .uk-overlay-bottom {
    a {
      text-decoration: none;
      background:rgba(0,0,0,0.8);
      padding:4px;
      border-radius:4px;
    }
  }
}


/// Show episode
.show-episode {
  h1{
    margin-top:10px;
  }
  .uk-overlay {
    &:hover, &:active {
      cursor: pointer;
    }
  }
  .episode-info {
    background-color:rgba(0,0,0,0.8);
    border-radius: 4px;
    box-shadow: $boxShadow;
    padding:5px;
  }
  .uk-description-list-horizontal {
    margin-top:10px;
    margin-bottom:10px;
    border-top: 1px solid $mrRobotPrimaryColor;
    border-bottom: 1px solid $mrRobotPrimaryColor;
    padding:10px;
    dt{
      font-weight: bolder;
      color:$mrRobotPrimaryColor;
    }
  }
}